<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new chat</title>
  </head>
  <body>
    <h2>Create new chat</h2>
    <form action="/chat" method="post">
      <input type="text" placeholder="who are you" name="from" /><br /><br />
      <textarea name="msg">Write your message here</textarea><br /><br />
      <input type="text" placeholder="add reciever" name="to" /><br /><br />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
