h1{
  font-size: 60px;
  text-align: center;
  
}
.chatbox{
  background: linear-gradient(rgba(0, 0, 255, 0.382), rgba(0, 128, 0, 0.475), rgba(255, 0, 0, 0.492), rgba(128, 128, 128, 0.437), rgb(101, 187, 85));
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.from{
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.msg{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.647);
  font-weight: 500;
  font-style: italic;
}
.rcv{
  font-size: 24px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

button{
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  margin: auto;
}